PORT=3000

CLIENT_ID=YOUR_CLIENT_ID
CLIENT_SECRET=YOUR_CLIENT_SECRET

AUTH_URL=https://<your-tenant>/oauth2/authorize
TOKEN_URL=https://<your-tenant>/oauth2/token

REDIRECT_URI=http://localhost:3000/callback
GATEWAY_URL=https://<your-aigw-url>
