PORT=3000

CLIENT_ID=YOUR_CLIENT_ID
CLIENT_SECRET=YOUR_CLIENT_SECRET

AUTH_URL=https://YOUR_TENANT/oauth2/authorize
TOKEN_URL=https://YOUR_TENANT/oauth2/token

REDIRECT_URI=http://localhost:3000/callback
GATEWAY_URL=https://YOUR_GATEWAY_URL
SCOPE=openid
